@using Beporsoft.Blazor.Charts.Common
@using Beporsoft.Blazor.Charts.Configuration
@using System.Drawing

<div style="max-height: 80vh">
    <Chart @ref="_chart" Config="_config" Data="_data" />
</div>


@code {
    private int _samples = 4;
    private Chart? _chart;

    private PieConfig _config = new(PolarChartType.Doughnut);
    private ChartData _data = new();


    protected override void OnInitialized()
    {
        _config = new PieConfig(PolarChartType.Doughnut);
        _config.Options
            .AddTitle("Doughnut chart")
            .WithLocation(Position.Top, Align.Center)
            .WithFont(16);


        _config.Options
            .AddSubtitle($"A doughnut chart. Unlike others charts, here the legend show the labels.")
            .WithFont(12);

        base.OnInitialized();
    }

    protected override Task OnParametersSetAsync()
    {

        return base.OnParametersSetAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {

            var dataset1 = BuildDoughnut().SetCutout(0.3);
            _data.Labels = RandomDataGen.GetMonths(_samples).ToList();
            _data.Datasets.Add(dataset1);
        }
    }

    private DoughnutDataset<int> BuildDoughnut()
    {
        var values = RandomDataGen.GetIntegerSamples(0, 30, _samples).ToList();

        var dataset = new DoughnutDataset<int>("Doughnut dataset", values);

        return dataset;
    }


}
