@page "/line-chart"
@page "/line-chart/{ChartType}"



<ul class="nav nav-pills">
    <li class="nav-item">
        <NavLink class="nav-link" href="line-chart" Match="NavLinkMatch.All">Linear</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="line-chart/log">Logarithmic</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="line-chart/object-data">Object data</NavLink>
    </li>
</ul>

@switch (ChartType)
{
    case "log":
        <Beporsoft.Blazor.Charts.TestServer.Components.Charts.LineCharts.LogarithmicChart />
        break;
    case "object-data":
        <Beporsoft.Blazor.Charts.TestServer.Components.Charts.LineCharts.LinearObjectDataChart />
        break;
    default:
        <Beporsoft.Blazor.Charts.TestServer.Components.Charts.LineCharts.LinearChart />
        break;
}

@code {
    [Parameter] public string? ChartType { get; set; } = default!;
}