<h3> Vacio</h3>

<h2>BarChart</h2>
<Chart @ref="_chart" />


@code {
    private Chart _chart;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var labels = RandomDataGen.GetNumberSeries(1, 10);
            var data1 = RandomDataGen.GetDoubleSamples(-10, 10, 10);

            _chart.Config = new();
            
            _chart.Config.Data.Labels = new NumberLabelList<int>(labels);

            _chart.Config.Data.Datasets.Add(new BarDataset<double>(data1));
            
        }
    }

}
 